.flex-container {
  display: flex;
  gap: 20px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
}

.flex-item {
  padding: 30px;
  background-color: rgb(8, 136, 210);
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}
